target/
!.mvn/wrapper/maven-wrapper.jar
!notification-service/src/main/**/target/
!notification-service/src/test/**/target/

### IntelliJ IDEA ###
user-service/.idea/modules.xml
user-service/.idea/jarRepositories.xml
user-service/.idea/compiler.xml
user-service/.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!notification-service/src/main/**/build/
!notification-service/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store